/* Design Systems

--- 01 Typography

- Font Sizes (px)


- Font Weights
Default: 400

- Line Heights
Default: 1

--- 02 Colors

- Primary:
- Tints:
- Shades:
- Accents:
- Grays:
#555


--- 05 Shadoes


--- 06 Border radius


--- 07 WhiteSpace

- Spacing System (px)

---------------------
Learned about the Responsive design techniques.



*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

/* Hero Section */
.hero-container {
  max-width: 120rem;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.hero-img {
  width: 100%;
}
